<div class="div search-header">
  <h1>Find jobs quickly 24 hours, latest jobs nationwide.</h1>
  <span
    >Access 40,000+ job recruitment postings every day from thousands of
    reputable businesses in Vietnam</span
  >
</div>
<div class="div search-form">
  <form action="">
    <table>
      <tr>
        <th class="th-input">
          <select name="gender" class="drop-select" formControlName="gender">
            <option
              style="background-color: rgb(176, 174, 174); font-style: italic"
            >
              1
            </option>
            <option>2</option>
          </select>
        </th>
        <th class="th-input">
          <select name="gender" class="drop-select" formControlName="gender">
            <option
              style="background-color: rgb(176, 174, 174); font-style: italic"
            >
              1
            </option>
            <option>2</option>
          </select>
        </th>
        <th class="th-input">
          <select name="gender" class="drop-select" formControlName="gender">
            <option
              style="background-color: rgb(176, 174, 174); font-style: italic"
            >
              1
            </option>
            <option>2</option>
          </select>
        </th>
        <th class="th-input">
          <select name="gender" class="drop-select" formControlName="gender">
            <option
              style="background-color: rgb(176, 174, 174); font-style: italic"
            >
              1
            </option>
            <option>2</option>
          </select>
        </th>
        <th class="th-button">
            <button>Find</button>
        </th>
      </tr>
    </table>
  </form>
</div>
<div class="div image-roller">
</div>
