<mat-toolbar>
    <p>Update personal information</p>
</mat-toolbar>
<div class="updateForm">
    <form action="" method="PUT" class="form">
        <div class="table-form">
            <table>
                <tr>
                    <th style="height: 40px; width: 45%; padding-top: 10px;">
                        Avatar
                    </th>
                    <th style="height: 40px; width: 45%; padding-top: 10px;">
                        Email:
                    </th>
                </tr>
                <tr>
                    <th class="thUpdate">
                        <mat-label>Fullname</mat-label>
                        <input matInput type="text" class="form-control" placeholder="Ex. hehe"  />
                    </th>
                    <th class="thUpdate">
                        <mat-label>Gender</mat-label>
                        <input matInput type="text" class="form-control" placeholder="Ex. hehe"  />
                    </th>
                </tr>
                <tr>
                    <th class="thUpdate">
                        <mat-label>Phone number</mat-label>
                        <input matInput type="text" class="form-control" placeholder="Ex. hehe" />
                    </th>
                    <th class="thUpdate">
                        <mat-label>Position</mat-label>
                        <input matInput type="text" class="form-control" placeholder="Ex. hehe"  />
                    </th>
                </tr>
            </table>
        </div>
        <button class="btn btn-primary" type="submit"><span>Save</span></button>
    </form>
</div>