mat-toolbar {
  background-color: rgb(249, 248, 233);
  z-index: 80;
}
mat-sidenav-container {
  z-index: 80;
  padding: 0;
  width: 100%;
  display: block;
  mat-sidenav {
    background-color: #f6f6f6;
    width: 15%;
    mat-list {
      width: 100%;
      mat-list-item {
        align-items: center;
        height: 3rem;
        text-decoration: none;
        margin-right: 0;
        
      }
      mat-list-item:hover {
        background-color: rgb(177, 177, 177);
      }
      mat-list-item:active {
        background-color: rgb(224, 251, 74);
      }
    }
  }
  mat-sidenav-content {
    width: auto;
    height: fit-content;
  }
}
