<mat-toolbar>
  <p>Manage Cvs</p>
</mat-toolbar>
<div class="body">
  <div class="table-form">
    <table>
      <thead>
        <tr>
          <th>Name of applicant</th>
          <th>Email</th>
          <th>Apply date</th>
          <th>Job post</th>
          <th style="width: 10%">Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>tét</td>
          <td>tết</td>
          <td>31/11/2023</td>
          <td>téts</td>
          <td>
            <select name="" id="">
              <option value="1">Gửi đề nghị</option>
              <option value="1">Đã nhận</option>
              <option value="1">Nhận việc</option>
              <option value="1">Từ chối</option>
              <option value="1">Hẹn phỏng vấn</option>
            </select>
          </td>
          <td>
            <button routerLink="/dashboard/cv-management/candidate-cv">
              View
            </button>
            <button>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
