mat-toolbar {
  height: 40px;
  width: auto;
  margin: 0;
  padding: 5px;
  p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.body {
  min-height: 595px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  .table-form {
    width: 100%;
    padding: 10px 20px;
    height: max-content;
    table {
      width: auto;
      height: max-content;
      thead {
        tr {
          th {
            text-align: center;
            border: 1px solid #a6a6a6;
            padding: 8px;
          }
        }
      }
      tbody {
        tr {
          height: max-content;
          td {
            text-align: center;
            height: 50px;
            border: 1px solid #a6a6a6;
            padding: 8px;
            background-color: #f2f2f2;
            overflow: hidden;
            text-overflow: ellipsis;
            button {
              border: none;
            }
            button:hover {
              color: rgb(109, 109, 74);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
