<mat-toolbar>
  <p>Manage Cvs</p>
</mat-toolbar>
<div class="body">
  <div class="table-form">
    <table>
      <thead>
        <tr>
          <th>Name of applicant</th>
          <th>Email</th>
          <th>Apply date</th>
          <th style="width: 30%">Job post</th>
          <th style="width: 10%">Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of appliedList">
          <td>{{i.userAppliedCv.name}}</td>
          <td>{{i.userAppliedCv.email}}</td>
          <td>{{i.dateApply}}</td>
          <td>{{i.postAppliedCv.title}}</td>
          <td>
            <select name="" id="" #status (change)="setStatus(status.value)">
              <option value="">{{i.status}}</option>
              <option value="Send invitation">Send invitation</option>
              <option value="Received">Received</option>
              <option value="Accepted">Accepted</option>
              <option value="Refused">Refused</option>
              <option value="Appointment interview">Appointment interview</option>
            </select>
          </td>
          <td>
            <button [routerLink]="['/dashboard/cv-management/candidate-cv']" [queryParams]="{id: i.id}">
              View
            </button>
            <button [disabled]="isDisabled" (click)="saveStatus(i.id)">Save</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
