<div class="header">
  <app-navigation></app-navigation>
</div>
<div class="body">
  <div class="row">
    <div class="col-8">
      <div class="main-content">
        <h2>Change login password</h2>
        <form
          action=""
          class="form"
          method="PUT"
          [formGroup]="updatePassword"
          #localform="ngForm"
          (ngSubmit)="onCreate(updatePassword.value)"
        >
          <div class="form-group">
            <mat-label>Email login</mat-label>
            <input type="text" class="form-control" formControlName="email" />
          </div>
          <div class="form-group">
            <mat-label>Current password</mat-label>
            <input
              matInput
              type="password"
              class="form-control"
              formControlName="password"
              [class.is-invalid]="
                localform.submitted && updatePassword.get('password')?.invalid
              "
            />
            <div class="invalid-feedback">Current password is required</div>
          </div>
          <div class="form-group">
            <mat-label>New password</mat-label>
            <input
              matInput
              type="password"
              class="form-control"
              formControlName="newPassword"
              [class.is-invalid]="
                localform.submitted &&
                updatePassword.get('newPassword')?.invalid
              "
            />
            <div class="invalid-feedback">New password is required</div>
          </div>
          <div class="form-group">
            <mat-label>Enter again new password</mat-label>
            <input
              matInput
              type="password"
              class="form-control"
              formControlName="enterAgain"
              [class.is-invalid]="
                localform.submitted &&
                updatePassword.get('newPassword')?.invalid
              "
            />
            <div class="invalid-feedback">Re-enter password is required</div>
          </div>
          <button class="btn" type="submit">
            <span>Save</span>
          </button>
        </form>
      </div>
    </div>
    <div class="col-4 sidebar">
      <div class="box box-white">
        <div class="box-header">
          <div class="profile-avatar">
            <img
              src="https://p.kindpng.com/picc/s/421-4212275_transparent-default-avatar-png-avatar-img-png-download.png"
              alt="avatar"
            />
          </div>
          <div class="profile-info">
            <div class="text-welcome">Hello,</div>
            <h4 class="fullname">{{ user.name }}</h4>
            <div class="account-type"></div>
          </div>
        </div>
        <div class="box-body">
          <div>
            <div class="col-xs-12 group-switch">
              <div class="switch-box">
                <input type="checkbox" id="switch" class="checkbox" />
                <label for="switch" class="toggle"> </label>
              </div>
              <span class="job-waiting-status-text job-off-show">
                <strong class="text-neutral-neutral-40"
                  >Job search status is off</strong
                >
              </span>
              <span class="job-waiting-status-text job-on-show">
                <strong class="text-highlight">Job search status is on</strong>
                <a href="" style="display: inline-block; margin-left: 10px">
                  <i class="fa-solid fa-pencil"></i> Edit criteria</a
                >
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
