<div class="header">
    <app-navigation></app-navigation>
</div>
<div class="body">
    <div class="search-form">
        <form action="" [formGroup]="findForm" (ngSubmit)="onSubmit()">
            <table>
                <tr>
                    <th class="th-input">
                        <select  class="drop-select" formControlName="postition">
                            <option style="background-color: rgb(176, 174, 174); font-style: italic">
                              1
                            </option>
                            <option>2</option>
                        </select>
                    </th>
                    <th class="th-input">
                        <select  class="drop-select" formControlName="province">
                          <option style="background-color: rgb(176, 174, 174); font-style: italic">
                            1
                          </option>
                            <option>2</option>
                        </select>
                    </th>
                    <th class="th-input">
                        <select  class="drop-select" formControlName="workExperience">
                          <option style="background-color: rgb(176, 174, 174); font-style: italic">
                            1
                          </option>
                            <option>2</option>
                        </select>
                    </th>
                    <th class="th-input">
                        <select  class="drop-select" formControlName="salary">
                          <option style="background-color: rgb(176, 174, 174); font-style: italic">
                            1
                          </option>
                            <option>2</option>
                        </select>
                    </th>
                    <th class="th-button" type="submit">
                        <button>Find</button>
                    </th>
                </tr>
            </table>
        </form>
        <div class="sum">
            <span class="span-sum">Found <span>200</span> results</span>
        </div>
    </div>
    <div class="result-job-search">
      <div class="job-body">
        <div class="row">
          <div class="col col-9">
            <table >
              <tr *ngFor="let i of jobLists">
                <div class="content" routerLink="/find-job/job/{{i.id}}">
                  <div class="content-logo">
                    <a class="logo">
                      <div>logo</div>
                    </a>
                  </div>
                  <div class="content-body">
                    <div class="content-main">
                      <div class="left">
                        <span><strong>{{i.title}}</strong></span>
                        <a routerLink="/company-list/company/{{i.companyPost.id}}" class="company">{{i.companyPost.companyName}}</a>
                      </div>
                      <div class="right">
                        <label for="" class="salary">{{i.attributes.salary}}</label>
                      </div>
                    </div>
                    <div class="info">
                      <div class="info-left">
                        <label for="" class="address">{{i.address}}</label>
                      </div>
                      <div class=" info-right">
                        <button>Apply for this job</button>
                      </div>
                    </div>
                  </div>
                </div>
              </tr>
            </table>
          </div>
          <div class="col col-3">
            <div class="random-job">
              <span class="random-title">U may care</span>
              <div class="random">
                <span class="companyName">Công ty Cho thuê tài chính TNHH MTV Quốc tế Chailease</span>
                <span class="split-line"></span>
                <span class="title">Credit Officer (Thẩm Định Tài Chinh)</span>
                <div class="random-footer">
                  <span class="salary" style="margin-right: 20px;">Thoả thuận</span>
                  <span class="date">01/11/2023</span>
                </div>
                <button>Find out now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
