<div class="header">
    <app-navigation></app-navigation>
</div>
<div class="body">
    <div class="search-form">
        <form action="">
            <table>
                <tr>
                    <th class="th-input">
                        <select  class="drop-select" >
                            <option
                              style="background-color: rgb(176, 174, 174); font-style: italic"
                            >
                              1
                            </option>
                            <option>2</option>
                        </select>
                    </th>
                    <th class="th-input">
                        <select  class="drop-select" >
                            <option
                              style="background-color: rgb(176, 174, 174); font-style: italic"
                            >
                              1
                            </option>
                            <option>2</option>
                        </select>
                    </th>
                    <th class="th-input">
                        <select  class="drop-select" >
                            <option
                              style="background-color: rgb(176, 174, 174); font-style: italic"
                            >
                              1
                            </option>
                            <option>2</option>
                        </select>
                    </th>
                    <th class="th-input">
                        <select  class="drop-select" >
                            <option
                              style="background-color: rgb(176, 174, 174); font-style: italic"
                            >
                              1
                            </option>
                            <option>2</option>
                        </select>
                    </th>
                    <th class="th-button">
                        <button>Find</button>
                    </th>
                </tr>
            </table>
        </form>
        <div class="sum">
            <span class="span-sum">Found <span>200</span> results</span>
        </div>
    </div>
    <div class="result-job-search">
      <div class="job-body">
        <div class="row">
          <div class="col col-9">
            <div class="job-found">
              <div class="content">
                <div class="content-header">
                  <a href="" class="logo">
                    <div>logo</div>
                  </a>
                  <div class="title">
                    <span
                      ><a href=""
                        ><strong>Nhan vien ky thuat tai binh duong dawac aw d awd asd aw</strong></a
                      ></span
                    >
                    <a href="" class="company">Cong ty Hung Phat</a>
                  </div>
                </div>
                <div class="content-footer">
                  <div>
                    <div class="footer salary">
                      <span>11-13 trieu</span>
                    </div>
                    <div class="footer address">
                      <span>Binh Duong</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-3">
            <div class="random-job">
              <span class="random-title">U may care</span>
              <div class="random">
                <span class="companyName">Công ty Cho thuê tài chính TNHH MTV Quốc tế Chailease</span>
                <span class="split-line"></span>
                <span class="title">Credit Officer (Thẩm Định Tài Chinh)</span>
                <div class="random-footer">
                  <span class="salary" style="margin-right: 20px;">Thoả thuận</span>
                  <span class="date">01/11/2023</span>
                </div>
                <button>Find out now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
