<div class="header">
  <app-navigation></app-navigation>
</div>
<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="box-group">
          <div class="box-group-header-applied box-group-header">
            <div class="box-group-title">Job applied for</div>
            <div class="box-filter-status">

            </div>
          </div>
          <div class="box-group-body">
            <div class="empty-job" *ngIf="list == 0">
              <div class="image-empty">
                <img
                  src="https://static.topcv.vn/v4/image/history-apply/empty.png"
                  alt="empty apply"
                />
              </div>
              <h3 class="title">You haven't applied for any jobs yet!</h3>
              <div class="btn-action">
                <a routerLink="/find-job" class="btn btn-primary"
                  >Find a job now</a
                >
              </div>
            </div>
            <div class="list-job" *ngIf="list == 1">
              <table>
                <thead>
                  <tr>
                    <th>Title of post</th>
                    <th>Address</th>
                    <th>Apply date</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of appliedList">
                    <td>{{i.postAppliedCv.title}}</td>
                    <td>{{i.postAppliedCv.address}}</td>
                    <td>{{i.dateApply}}</td>
                    <td>{{i.status}}</td>
                    <td>
                      <button [routerLink]="['/find-job/job']" [queryParams]="{id: i.postAppliedCv.id}">
                        View
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 sidebar">
        <div class="box box-white">
          <div class="box-header">
            <div class="profile-avatar">
              <img src="https://p.kindpng.com/picc/s/421-4212275_transparent-default-avatar-png-avatar-img-png-download.png" alt="" />
            </div>
            <div class="profile-info">
              <div class="text-welcome">Hello,</div>
              <h4 class="fullname">Nguyen Huy</h4>
            </div>
          </div>
          <div class="box-body">
            <div>
              <div class="col-xs-12 group-switch">
                <div class="switch-box">
                  <input type="checkbox" id="switch" class="checkbox" />
                  <label for="switch" class="toggle"> </label>
                </div>
                <span class="job-waiting-status-text job-off-show">
                  <strong class="text-neutral-neutral-40"
                    >Currently not looking for a job</strong
                  >
                </span>
                <span class="job-waiting-status-text job-on-show">
                  <strong class="text-highlight"
                    >Job search status is on</strong
                  >
                  <a href="" style="display: inline-block; margin-left: 10px">
                    <i class="fa-solid fa-pencil"></i> Edit criteria</a
                  >
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
