.header {
  display: block;
  position: sticky;
  top: 0;
  z-index: 100;
}
.body {
  padding-bottom: 0;
  background-color: #f1f2f6;
  div {
    display: block;
  }
  .container {
    min-height: 700px;
    padding-top: 24px;
    min-width: 750px;
    padding-left: 0;
    padding-right: 0;
    width: 96%;
    max-width: 1100px;
    .row {
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      display: flex;
      flex-wrap: wrap;
      margin-left: calc(var(--bs-gutter-x) * -0.5);
      margin-right: calc(var(--bs-gutter-x) * -0.5);
      margin-top: calc(var(--bs-gutter-y) * -1);
      .col-md-8 {
        box-sizing: border-box;
        margin-top: var(--bs-gutter-y);
        max-width: 100%;
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        flex: 0 0 auto;
        width: 66.66666667%;
        .box-group {
          background: #fff;
          border-radius: 5px;
          box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.05);
          margin-bottom: 16px;
          padding: 16px;
          .box-group-header-applied {
          }
          .box-group-header {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            padding: initial;
            .box-group-title {
              font-size: 19px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
              margin-bottom: 20px;
              padding: initial;
            }
            .box-filter-status {
              position: relative;
              .select2-hidden-accessible {
              }
            }
          }
          .box-group-body {
            .empty-job {
              text-align: center;
              .image-empty {
                padding-bottom: 30px;
              }
              .title {
                color: #333;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
                margin: initial;
                margin-bottom: 16px;
              }
              .btn-action {
                padding-bottom: 16px;
                .btn {
                  background: #0038b1;
                  border-color: #003bb1;
                  border-radius: 5px;
                  color: #fff;
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 22px;
                  padding: 9px 20px;
                  text-decoration: none;
                  display: inline-block;
                  line-height: 1.42857143;
                  text-align: center;
                  white-space: nowrap;
                  vertical-align: middle;
                  -ms-touch-action: manipulation;
                  touch-action: manipulation;
                  cursor: pointer;
                }
                .btn-primary {
                }
                .btn-primary:hover {
                }
              }
            }
            .list-job{
              table {
                width: 100%;
                thead {
                  tr {
                    th {
                      text-align: center;
                      border: 1px solid #a6a6a6;
                      padding: 8px;
                    }
                  }
                }
                tbody {
                  tr {
                    height: max-content;
                    td {
                      text-align: center;
                      height: 50px;
                      border: 1px solid #a6a6a6;
                      padding: 8px;
                      background-color: #f2f2f2;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      button {
                        border: none;
                      }
                      button:hover {
                        color: rgb(109, 109, 74);
                        text-decoration: underline;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .sidebar {
        width: 33.33333333%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        .box-white {
          background-color: #fff;
        }
        .box {
          border-radius: 8px;
          padding: 20px 20px 16px;
          margin-bottom: 20px;
          .box-header {
            border-bottom: 1px solid #eef1f5;
            display: flex;
            gap: 24px;
            justify-content: flex-start;
            margin: 0;
            padding-bottom: 16px;
            .profile-avatar {
              height: 84px;
              position: relative;
              width: 84px;
              img {
                max-width: 150px;
                width: 83px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                vertical-align: middle;
                border: 0;
              }
            }
            .profile-info {
              .text-welcome {
                color: #212f3f;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.14px;
                line-height: 22px;
              }
              .fullname {
                margin-top: 0;
                overflow: hidden;
                overflow-wrap: break-word;
                position: relative;
                text-overflow: ellipsis;
                color: #212f3f !important;
                font-size: 16px !important;
                font-style: normal;
                font-weight: 600 !important;
                letter-spacing: -0.16px;
                line-height: 24px;
                margin-bottom: 0 !important;
                display: block;
              }
              .account-type {
                font-size: 12px;
              }
            }
          }
          .row {
            margin-top: 15px;
            margin-right: -15px;
            margin-left: -15px;
          }
          .box-body {
            margin-top: 15px;
            margin-right: -15px;
            margin-left: -15px;
            div {
              .group-switch {
                display: grid;
                grid-template-columns: 1fr 6fr;
                width: 100%;
                position: relative;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
                .switch-box {
                  position: relative;
                  display: inline-block;
                  width: 60px;
                  height: 34px;
                  .toggle {
                    position: relative;
                    display: inline-block;
                    width: 50px;
                    height: 25px;
                    background-color: rgb(177, 177, 177);
                    border-radius: 30px;
                    border: 2px solid rgb(177, 177, 177);
                  }

                  /* After slide changes */
                  .toggle:after {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: rgb(255, 255, 255);
                    top: 1px;
                    left: 1px;
                    transition: 0.4s;
                  }

                  /* Toggle text */
                  p {
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                  }

                  /* Checkbox checked effect */
                  .checkbox:checked + .toggle::after {
                    left: 25px;
                    transition: 0.4s;
                  }

                  /* Checkbox checked toggle label bg color */
                  .checkbox:checked + .toggle {
                    background-color: rgb(0, 95, 238);
                    transition: 0.4s;
                    border: 2px solid rgb(0, 95, 238);
                  }

                  /* Checkbox vanished */
                  .checkbox {
                    display: none;
                  }
                }
                .job-waiting-status-text {
                  color: #7f878f;
                  font-family: Inter;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 600;
                  letter-spacing: 0.175px;
                  line-height: 22px;
                  margin-left: 10px;
                  display: inline-block;
                  strong {
                    color: #7f878f !important;
                    font-weight: 700;
                  }
                }
                .job-off-show {
                }
                .job-on-show {
                  display: none;
                  .text-highlight {
                    color: #0070b1;
                    font-weight: 700;
                    a {
                      display: inline-block;
                      margin-left: 10px;
                      color: #666;
                      text-decoration: none;
                      background-color: transparent;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
