.header{
    display: block;
    position: sticky;
    top: 0;
}
.search{
    display: block;
    height: 450px;   
    width: auto;
    background-image: url(../image/background-box.jpg);
    background-color: #cccccc;
    background-size: cover;
}

.randomjob{
    background-color: rgb(244, 244, 244);
    width: auto;
    height: 660px;
    padding: 1.5% 11.5%;
}
