<mat-toolbar color="white">
    <mat-toolbar-row>
        <button mat-button (click)="opened=!opened"><mat-icon>menu</mat-icon></button>
        <button mat-button routerLink="/dashboard" style="font-size: 22px; color: rgb(113, 74, 137);"><mat-icon>home</mat-icon>Web Tuyen Dung</button>
        <!-- <span>
            <a routerLink="/" style="font-size: 22px; color: rgb(113, 74, 137);">
                <span>Web Tuyen Dung</span>
            </a>
        </span> -->
        <!-- <span class="nav1">
            <a routerLinkActive="active-link" routerLink="/jobs">
                <span>Jobs</span>
            </a>
            <a routerLinkActive="active-link" routerLink="/company">
                <span>Company</span>
            </a>
        </span> -->
        <span class="nav2" *ngIf="isLoggedOut$ | async as isLoggedOut">
            <!-- <a routerLinkActive="active-link" routerLink="/posts">
                <span>Posts</span>
            </a> -->
            <a routerLinkActive="active-link" routerLink="/employerlogin" style="color: gray;">
                <span>Login</span>
            </a>
            <a routerLinkActive="active-link" routerLink="/employersignup" style="background-color: rgb(178, 76, 76); color: white;">
                <span>Signup</span>
            </a>
            <a routerLinkActive="active-link" routerLink="" style="background-color: rgb(33, 33, 33); color: white;">
                <span>Post CV, search for jobs</span>
            </a>
        </span>
        <div class="dropdown" *ngIf="isLoggedIn$ | async as isLoggedIn">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a (click)="logout()">Logout</a>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <mat-list>
            <mat-list-item><a routerLink="account-setting"><mat-icon>home</mat-icon>Account settings</a></mat-list-item>
            <mat-list-item><a routerLink="cv-management"><mat-icon>home</mat-icon>CV management</a></mat-list-item>
            <mat-list-item><a routerLink="recruitment-post"><mat-icon>home</mat-icon>Recruitment post</a></mat-list-item>
            <!-- <mat-list-item><a routerLink=""><mat-icon>home</mat-icon>Home</a></mat-list-item> -->
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>