<mat-toolbar>
    <mat-toolbar-row>
        <button class="menuBtn" mat-button (click)=" isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
        <button mat-button routerLink="/dashboard" style="font-size: 22px; color: rgb(255, 255, 255);"><mat-icon>home</mat-icon>Web Tuyen Dung</button>

        <span class="nav2" *ngIf="isLoggedOut$ | async as isLoggedOut">
            <!-- <a routerLinkActive="active-link" routerLink="/posts">
                <span>Posts</span>
            </a> -->
            <a class="login" routerLinkActive="active-link" routerLink="/employerlogin">
                <span>Login</span>
            </a>
            <a class="signup" routerLinkActive="active-link" routerLink="/employersignup">
                <span>Signup</span>
            </a>
            <a class="cv" routerLinkActive="active-link" routerLink="">
                <span>Post CV, search for jobs</span>
            </a>
        </span>

        <div class="dropdown" *ngIf="isLoggedIn$ | async as isLoggedIn">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a (click)="logout()">Logout</a>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container autosize>
    <mat-sidenav #sidenav opened="true" mode="side">
        <mat-list>
            <mat-list-item routerLink="account-setting"><mat-icon>settings</mat-icon><p *ngIf="isExpanded">Account settings</p></mat-list-item>
            <mat-list-item routerLink="cv-management"><mat-icon>library_books</mat-icon><p *ngIf="isExpanded">CV management</p></mat-list-item>
            <mat-list-item routerLink="recruitment-post"><mat-icon>account_box</mat-icon><p *ngIf="isExpanded">Recruitment post</p></mat-list-item>
            <!-- <mat-list-item><a routerLink=""><mat-icon>home</mat-icon>Home</a></mat-list-item> -->
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content style="background-color: rgb(218, 218, 218);">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>