mat-toolbar{
    background-color: rgb(249, 248, 233);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }

mat-sidenav-container{
  z-index: 0;
  height: calc(205vh - 115vh);
  padding: 0;
  
  mat-sidenav{
    background-color: #f6f6f6;
      
  }
  
  mat-list{
    width: 100%;
  
    mat-list-item{
      display: flex;
      align-items: center;
      height: 3rem;
      text-decoration: none;
      transition: all .3s ease;
      margin-right: 0;

      a{
        color: #000000;
         margin: 3px 0 0 0;
      }
    } 
    mat-list-item:hover {
      background-color: rgb(177, 177, 177);
      p{
        color: #3b3854;
      }
    }
    mat-list-item:active {
      background-color: rgb(224, 251, 74);
    }
  }
}
  
