<section>
  <div class="box-header">
    <div class="header-left">
      <span>Latest recruitment news</span>
    </div>
    <div class="header-right">
      <a href="">Show all</a>
    </div>
  </div>
  <div class="box-content">
    <mat-grid-list>
      <mat-grid-tile>
        <div class="content">
          <div class="content-header">
            <a href="" class="logo">
              <div>logo</div>
            </a>
            <div class="title">
              <span
                ><a href=""
                  ><strong>Nhan vien ky thuat tai binh duong dawac aw d awd asd aw</strong></a
                ></span
              >
              <a href="" class="company">Cong ty Hung Phat</a>
            </div>
          </div>
          <div class="content-footer">
            <div>
              <div class="footer salary">
                <span>11-13 trieu</span>
              </div>
              <div class="footer address">
                <span>Binh Duong</span>
              </div>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
      <mat-grid-tile>5</mat-grid-tile>
      <mat-grid-tile>6</mat-grid-tile>
      <mat-grid-tile>7</mat-grid-tile>
      <mat-grid-tile>8</mat-grid-tile>
      <mat-grid-tile>9</mat-grid-tile>
      <mat-grid-tile>10</mat-grid-tile>
      <mat-grid-tile>11</mat-grid-tile>
      <mat-grid-tile>12</mat-grid-tile>
    </mat-grid-list>
  </div>
</section>
