<mat-toolbar>
    <p>Manage jobseeker</p>
  </mat-toolbar>
  
  <div>
    <div class="table-form">
      <table>
        <thead>
          <tr style="background-color: rgb(240, 248, 193)">
            <th style="width: 8%">Action</th>
            <th style="width: 5%">Avatar</th>
            <th style="width: 8%">Id</th>
            <th style="width: 15%">Name</th>
            <th style="width: 15%">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr class="trchild" *ngFor="let i of userArr">
            <td>
              <button>View</button>
              <button>Delete</button>
            </td>
            <td>
              <img [src]="[i.avatar]" alt="avatar" *ngIf="i.avatar">
              <img src="https://hethongxephangtudong.net/public/client/images/no-avatar.png" alt="avatar" *ngIf="!i.avatar">
            </td>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  