<mat-toolbar>
    <p>Manage jobseeker</p>
  </mat-toolbar>
  
  <div>
    <div class="table-form">
      <table>
        <thead>
          <tr style="background-color: rgb(240, 248, 193)">
            <th style="width: 8%">Action</th>
            <th style="width: 15%">Name</th>
            <th style="width: 8%">Gender</th>
            <th style="width: 15%">Email</th>
            <th style="width: 20%">Company</th>
            <th style="width: 20%">License</th>
            <th style="width: 20%">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="trchild">
            <td>
              <button>View</button>
              <button>Delete</button>
            </td>
  
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  