<div class="header">
  <app-navigation></app-navigation>
</div>
<div class="body">
  <div class="company-cover">
    <div class="container">
      <div class="company-detail-overview">
        <div class="logo">
          <img
            src="https://s3.amazonaws.com/freestock-prod/450/freestock_565622158.jpg"
            alt="Company Logo"
          />
        </div>
        <div class="detail">
          <h1 class="detail-name">{{company.companyName}}</h1>
          <div class="sub-detail">
            <div class="info website">
              <i class="fa-solid fa-earth-americas"></i>
              <a href="" class="info-text"
                >http://link-test/</a
              >
            </div>
            <div class="info" *ngIf="company.staffSize">
              <i class="fa-solid fa-building-user"></i>
              <span class="info-text">{{company.staffSize}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="company-body">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="company-intro">
                    <div class="info">
                        <h2 class="title">Company introduction</h2>
                        <div class="box-body">
                            <div class="content">
                                <p *ngIf="company.description">{{company.description}}</p>
                                <p *ngIf="!company.description">This company currently has no information</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="company-contact">
                    <h2 class="title">Contact Info</h2>
                    <div class="box-body">
                        <div class="item">
                            <div class="item-header">
                                <i class="fa-solid fa-location-dot"></i>
                                <span>Company address</span>
                            </div>
                            <div class="item-desc">
                                {{company.address}}, {{company.province.value}}, Viet Nam
                            </div>
                        </div>
                        <div class="item" *ngIf="company.field_of_activity">
                            <div class="item-header">
                              <i class="fa-solid fa-briefcase"></i>
                                <span>Field of activity</span>
                            </div>
                            <div class="item-desc">
                              {{company.field_of_activity}}
                            </div>
                        </div>
                        <div class="item">
                          <div class="item-header">
                            <i class="fa-solid fa-address-book"></i>
                              <span>Contact</span>
                          </div>
                          <div class="item-desc" *ngIf="company.email" style="margin-bottom: 5px;">
                            Email: {{company.email}}
                          </div>
                          <div class="item-desc" *ngIf="company.phone">
                            Phone: {{company.phone}}
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
