<div class="header">
  <app-navigation></app-navigation>
</div>
<div class="body">
  <div class="job-detail">
    <div class="job-detail_body-left flex-column">
      <div class="job-detail_info flex-column">
        <h1 class="info-title">Trường Nhóm Marketing</h1>
        <div class="info-sections">
          <div class="info-section">
            <div class="info-section-icon">
              <i
                class="fa-solid fa-money-bill fa-lg"
                style="color: #ffffff"
              ></i>
            </div>
            <div class="info-section-content">
              <div class="info-section-content-title">Salary</div>
              <div class="info-section-content-value">18 - 30 triệu</div>
            </div>
          </div>
          <div class="info-section">
            <div class="info-section-icon">
              <i
                class="fa-solid fa-location-crosshairs fa-lg"
                style="color: #ffffff"
              ></i>
            </div>
            <div class="info-section-content">
              <div class="info-section-content-title">Location</div>
              <div class="info-section-content-value">Hồ Chí Minh</div>
            </div>
          </div>
          <div class="info-section">
            <div class="info-section-icon">
              <i
                class="fa-solid fa-graduation-cap fa-lg"
                style="color: #ffffff"
              ></i>
            </div>
            <div class="info-section-content">
              <div class="info-section-content-title">Experience</div>
              <div class="info-section-content-value">2 years</div>
            </div>
          </div>
        </div>
        <div class="info-deadline">
          <span class="info-deadline-icon"
            ><i class="fa-solid fa-clock"></i
          ></span>
          Hạn nộp hồ sơ: 30/11/2023
        </div>
        <div class="info-action">
          <a href=""
            ><span><i></i></span>Apply now</a
          >
        </div>
      </div>
      <div class="job-detail_detail flex-column">
        <h2 class="detail-title">Chi tiết tin tuyển dụng</h2>
        <div class="detail-contents">
          <div class="job-description">
            <div class="job-description-item">
              <h3>Mô tả công việc</h3>
              <div class="job-description-item-content">
                <p>
                  - Xây dựng kế hoạch Marketing, tổ chức thực hiện và đánh giá
                  hiệu quả theo mỗi tháng/ quý/ năm
                </p>
                <p>
                  - Lập kế hoạch và trực tiếp chạy quảng cáo qua các kênh mạng
                  xã hội hiện tại, và phát triển thêm các kênh quảng cáo online
                  khác để tăng khách hàng tiềm năng.
                </p>
                <p>
                  - Theo dõi thị trường, phân tích số liệu và kết quả kinh doanh
                  để có các chiến lược Marketing phù hợp
                </p>
                <p>
                  - Giám sát hiệu quả của các lead mang về; tối ưu hiệu suất và
                  chi phí các chiến dịch quảng cáo
                </p>
              </div>
            </div>
            <div class="job-description-item">
              <h3>Yêu cầu ứng viên</h3>
              <div class="job-description-item-content">
                <p>
                  - Xây dựng kế hoạch Marketing, tổ chức thực hiện và đánh giá
                  hiệu quả theo mỗi tháng/ quý/ năm
                </p>
                <p>
                  - Lập kế hoạch và trực tiếp chạy quảng cáo qua các kênh mạng
                  xã hội hiện tại, và phát triển thêm các kênh quảng cáo online
                  khác để tăng khách hàng tiềm năng.
                </p>
                <p>
                  - Theo dõi thị trường, phân tích số liệu và kết quả kinh doanh
                  để có các chiến lược Marketing phù hợp
                </p>
                <p>
                  - Giám sát hiệu quả của các lead mang về; tối ưu hiệu suất và
                  chi phí các chiến dịch quảng cáo
                </p>
              </div>
            </div>
            <div class="job-description-item">
              <h3>Quyền lợi</h3>
              <div class="job-description-item-content">
                <p>
                  - Xây dựng kế hoạch Marketing, tổ chức thực hiện và đánh giá
                  hiệu quả theo mỗi tháng/ quý/ năm
                </p>
                <p>
                  - Lập kế hoạch và trực tiếp chạy quảng cáo qua các kênh mạng
                  xã hội hiện tại, và phát triển thêm các kênh quảng cáo online
                  khác để tăng khách hàng tiềm năng.
                </p>
                <p>
                  - Theo dõi thị trường, phân tích số liệu và kết quả kinh doanh
                  để có các chiến lược Marketing phù hợp
                </p>
                <p>
                  - Giám sát hiệu quả của các lead mang về; tối ưu hiệu suất và
                  chi phí các chiến dịch quảng cáo
                </p>
              </div>
            </div>
            <div class="job-description-item">
              <h3>Địa điểm làm việc</h3>
              <div class="job-description-item-content">
                <p>
                  - Xây dựng kế hoạch Marketing, tổ chức thực hiện và đánh giá
                  hiệu quả theo mỗi tháng/ quý/ năm
                </p>
                <p>
                  - Lập kế hoạch và trực tiếp chạy quảng cáo qua các kênh mạng
                  xã hội hiện tại, và phát triển thêm các kênh quảng cáo online
                  khác để tăng khách hàng tiềm năng.
                </p>
                <p>
                  - Theo dõi thị trường, phân tích số liệu và kết quả kinh doanh
                  để có các chiến lược Marketing phù hợp
                </p>
                <p>
                  - Giám sát hiệu quả của các lead mang về; tối ưu hiệu suất và
                  chi phí các chiến dịch quảng cáo
                </p>
              </div>
            </div>
            <div class="job-description-item">
              <h3>Cách thức ứng tuyển</h3>
              <div class="job-description-item-content">
                Ứng viên nộp hồ sơ trực tuyến bằng cách bấm
                <strong>Ứng tuyển</strong> ngay dưới đây.
              </div>
            </div>
          </div>
        </div>
        <div class="detail-actions">
          <div class="detail-actions-button">
            <a href="">Apply now</a>
          </div>
          <div class="detail-actions-label">Hạn nộp hồ sơ: 30/11/2023</div>
        </div>
        <div class="detail-report">
          <span class="detail-report-icon"
            ><i class="fa-solid fa-circle-info"></i
          ></span>
          <span
            >Báo cáo tin tuyển dụng: Nếu bạn thấy rằng tin tuyển dụng này không
            đúng hoặc có dấu hiệu lừa đảo
            <a href="" class="btn-notice-job color-green"
              >hãy phản ánh với chúng tôi.</a
            ></span
          >
        </div>
      </div>
      <h3>trai</h3>
    </div>
    <div class="job-detail_body-right">
      <h3>phai</h3>
    </div>
  </div>
</div>
