<div class="header">
  <app-navigation></app-navigation>
</div>
<div class="body">
  <div class="job-detail">
    <div class="job-detail_body-left flex-column">
      <div class="job-detail_info flex-column">
        <h1 class="info-title">{{post.overview.area}}</h1>
        <div class="info-sections">
          <div class="info-section">
            <div class="info-section-icon">
              <i
                class="fa-solid fa-money-bill fa-lg"
                style="color: #ffffff"
              ></i>
            </div>
            <div class="info-section-content">
              <div class="info-section-content-title">Salary</div>
              <div class="info-section-content-value">{{post.attributes.salary}}</div>
            </div>
          </div>
          <div class="info-section">
            <div class="info-section-icon">
              <i
                class="fa-solid fa-location-crosshairs fa-lg"
                style="color: #ffffff"
              ></i>
            </div>
            <div class="info-section-content">
              <div class="info-section-content-title">Location</div>
              <div class="info-section-content-value">{{post.province.value}}</div>
            </div>
          </div>
          <div class="info-section">
            <div class="info-section-icon">
              <i
                class="fa-solid fa-graduation-cap fa-lg"
                style="color: #ffffff"
              ></i>
            </div>
            <div class="info-section-content">
              <div class="info-section-content-title">Experience</div>
              <div class="info-section-content-value">{{post.attributes.experience}} years</div>
            </div>
          </div>
        </div>
        <div class="info-deadline">
          <span class="info-deadline-icon"
            ><i class="fa-solid fa-clock"></i
          ></span>
          Hạn nộp hồ sơ: 30/11/2023
        </div>
        <div class="info-action">
          <a href=""
            ><span><i></i></span>Apply now</a
          >
        </div>
      </div>
      <div class="job-detail_detail flex-column">
        <h2 class="detail-title">Chi tiết tin tuyển dụng</h2>
        <div class="detail-contents">
          <div class="job-description">
            <div class="job-description-item">
              <h3>Mô tả công việc</h3>
              <div class="job-description-item-content">
                <p>
                  {{post.description}}
                </p>
              </div>
            </div>
            <div class="job-description-item">
              <h3>Yêu cầu ứng viên</h3>
              <div class="job-description-item-content">
                <p>
                  {{post.attributes.requirements}}
                </p>
              </div>
            </div>
            <div class="job-description-item">
              <h3>Quyền lợi</h3>
              <div class="job-description-item-content">
                <p>
                  {{post.attributes.benefits}}
                </p>
              </div>
            </div>
            <div class="job-description-item">
              <h3>Địa điểm làm việc</h3>
              <div class="job-description-item-content">
                <p>
                  {{post.address}}
                </p>
              </div>
            </div>
            <div class="job-description-item">
              <h3>Cách thức ứng tuyển</h3>
              <div class="job-description-item-content">
                Ứng viên nộp hồ sơ trực tuyến bằng cách bấm
                <strong>Ứng tuyển</strong> ngay dưới đây.
              </div>
            </div>
          </div>
        </div>
        <div class="detail-actions">
          <div class="detail-actions-button">
            <a href="">Apply now</a>
          </div>
          <div class="detail-actions-label">Hạn nộp hồ sơ: 30/11/2023</div>
        </div>
        <div class="detail-report">
          <span class="detail-report-icon"
            ><i class="fa-solid fa-circle-info"></i
          ></span>
          <span
            >Báo cáo tin tuyển dụng: Nếu bạn thấy rằng tin tuyển dụng này không
            đúng hoặc có dấu hiệu lừa đảo
            <a href="" class="btn-notice-job color-green"
              >hãy phản ánh với chúng tôi.</a
            ></span
          >
        </div>
      </div>
    </div>
    <div class="job-detail_body-right">
      <div class="job-detail_box-right job-detail_company">
        <div class="company-info">
          <div class="company-name company-info-item">
            <a href="" class="company-logo">
              <img src="" alt="logo">
            </a>
            <h2 class="company-name-label">
              <a href="" class="name">{{post.company.companyName}}</a>
            </h2>
          </div>
          <div class="company-scale company-info-item">
            <div class="company-title"><i class="fa-solid fa-users fa-lg" style="color: #2d579f;"></i> Quy mô: </div>
            <div class="company-value">{{post.company.staffSize}} nhân viên</div>
          </div>
          <div class="company-address company-info-item">
            <div class="company-title"><i class="fa-solid fa-location-dot fa-lg" style="color: #2d579f;"></i> Địa điểm: </div>
            <div class="company-value">{{post.address}}</div>
          </div>
        </div>
        <div class="company-link">
          <a href="">Xem trang công ty</a>
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </div>
      </div>
      <div class="job-detail_box-right job-detail_general">
        <h2 class="box-title">Thông tin chung</h2>
        <div class="general-content">
          <div class="general-group">
            <div class="general-group-icon"><i class="fa-solid fa-medal fa-lg" style="color: #ffffff;"></i></div>
            <div class="general-group-info">
              <div class="group-info-title">Cấp bậc</div>
              <div class="group-info-value">{{post.attributes.level}}</div>
            </div>
          </div>
          <div class="general-group">
            <div class="general-group-icon"><i class="fa-solid fa-users fa-lg" style="color: #ffffff;"></i></div>
            <div class="general-group-info">
              <div class="group-info-title">Số lượng tuyển</div>
              <div class="group-info-value">{{post.attributes.recruitNumber}} people</div>
            </div>
          </div>
          <div class="general-group">
            <div class="general-group-icon"><i class="fa-solid fa-briefcase fa-lg" style="color: #ffffff;"></i></div>
            <div class="general-group-info">
              <div class="group-info-title">Hình thức làm việc</div>
              <div class="group-info-value">{{post.overview.category}}</div>
            </div>
          </div>
          <div class="general-group">
            <div class="general-group-icon"><i class="fa-solid fa-person-half-dress fa-lg" style="color: #ffffff;"></i></div>
            <div class="general-group-info">
              <div class="group-info-title">Giới tính</div>
              <div class="group-info-value">Không yêu cầu</div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="job-detail_box-right job-detail_category"></div> -->
    </div>
  </div>
</div>
