<div class="header">
  <app-navigation></app-navigation>
</div>
<div class="body">
  <div class="job-detail">
    <div class="job-detail_body-left flex-column">
      <div class="job-detail_info flex-column">
        <h1 class="info-title">{{ post.overview.area }}</h1>
        <div class="info-sections">
          <div class="info-section">
            <div class="info-section-icon">
              <i
                class="fa-solid fa-money-bill fa-lg"
                style="color: #ffffff"
              ></i>
            </div>
            <div class="info-section-content">
              <div class="info-section-content-title">Salary</div>
              <div class="info-section-content-value">{{ post.salary }}</div>
            </div>
          </div>
          <div class="info-section">
            <div class="info-section-icon">
              <i
                class="fa-solid fa-location-crosshairs fa-lg"
                style="color: #ffffff"
              ></i>
            </div>
            <div class="info-section-content">
              <div class="info-section-content-title">Location</div>
              <div class="info-section-content-value">
                {{ post.province.value }}
              </div>
            </div>
          </div>
          <div class="info-section">
            <div class="info-section-icon">
              <i
                class="fa-solid fa-graduation-cap fa-lg"
                style="color: #ffffff"
              ></i>
            </div>
            <div class="info-section-content">
              <div class="info-section-content-title">Experience</div>
              <div class="info-section-content-value">
                {{ post.experience }} years
              </div>
            </div>
          </div>
        </div>
        <div class="info-deadline">
          <span class="info-deadline-icon"
            ><i class="fa-solid fa-clock"></i
          ></span>
          The deadline for submission: {{post.expired | date:'dd/MM/yyyy'}}
        </div>
        <div class="info-action" *ngIf="isLoggedOut$ | async as isLoggedOut">
          <button class="btn-apply" (click)="login()">
            <span><i></i></span>Apply now
          </button>
        </div>
        <div class="info-action" *ngIf="isLoggedIn$ | async as isLoggedIn">
          <button
            class="btn-apply"
            (click)="apply(post.employer.id)"
            *ngIf="applied == 0"
          >
            <span><i></i></span>Apply now
          </button>
          <button
            class="btn-apply"
            (click)="reApply()"
            *ngIf="applied == 1"
          >
            <span><i></i></span>Reapply
          </button>
          <button class="btn-apply" (click)="annoy()" *ngIf="applied == 2">
            <span><i></i></span>You have already sent your CV, please wait for a
            response
          </button>
        </div>
      </div>
      <div class="job-detail_detail flex-column">
        <h2 class="detail-title">Recruitment details</h2>
        <div class="detail-contents">
          <div class="job-description">
            <div class="job-description-item">
              <h3>Recruitment details</h3>
              <div class="job-description-item-content">
                <p>
                  {{ post.description }}
                </p>
              </div>
            </div>
            <div class="job-description-item">
              <h3>Candidate requirements</h3>
              <div class="job-description-item-content">
                <p>
                  {{ post.attributes.requirements }}
                </p>
              </div>
            </div>
            <div class="job-description-item">
              <h3>Candidate benefits</h3>
              <div class="job-description-item-content">
                <p>
                  {{ post.attributes.benefits }}
                </p>
              </div>
            </div>
            <div class="job-description-item">
              <h3>Work location</h3>
              <div class="job-description-item-content">
                <p>
                  {{ post.address }}
                </p>
              </div>
            </div>
            <div class="job-description-item">
              <h3>How to apply</h3>
              <div class="job-description-item-content">
                Candidates apply online by clicking
                <strong>Apply now</strong> right below.
              </div>
            </div>
          </div>
        </div>
        <div class="detail-actions">
          <div class="detail-actions-button">
            <button (click)="apply(post.employer.id)" *ngIf="applied == 0">
              <span><i></i></span>Apply now
            </button>
            <button (click)="reApply()" *ngIf="applied == 1">
              <span><i></i></span>Reapply
            </button>
            <button (click)="annoy()" *ngIf="applied == 2">
              <span><i></i></span>Wait for a response
            </button>
          </div>
          <div class="detail-actions-label">The deadline for submission: {{post.expired | date:'dd/MM/yyyy'}}</div>
        </div>
        <div class="detail-report">
          <span class="detail-report-icon"
            ><i class="fa-solid fa-circle-info"></i
          ></span>
          <span
            >Report job posting: If you find that this job posting is not
            true or shows signs of fraud
            <a href="" class="btn-notice-job color-green"
              >please reflect to us.</a
            ></span
          >
        </div>
      </div>
    </div>
    <div class="job-detail_body-right">
      <div class="job-detail_box-right job-detail_company">
        <div class="company-info">
          <div class="company-name company-info-item">
            <a href="" class="company-logo">
              <img src="" alt="logo" />
            </a>
            <h2 class="company-name-label">
              <a href="" class="name">{{ post.companyPost.companyName }}</a>
            </h2>
          </div>
          <div class="company-scale company-info-item">
            <div class="company-title">
              <i class="fa-solid fa-users fa-lg" style="color: #2d579f"></i> Employee size:
            </div>
            <div class="company-value">
              {{ post.companyPost.staffSize }}
            </div>
          </div>
          <div class="company-address company-info-item">
            <div class="company-title">
              <i
                class="fa-solid fa-location-dot fa-lg"
                style="color: #2d579f"
              ></i>
              Location:
            </div>
            <div class="company-value">{{ post.address }}</div>
          </div>
        </div>
        <div class="company-link">
          <a
            [routerLink]="['/company-list/company']"
            [queryParams]="{ id: post.companyPost.id }"
            >See company page</a
          >
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </div>
      </div>
      <div class="job-detail_box-right job-detail_general">
        <h2 class="box-title">General information</h2>
        <div class="general-content">
          <div class="general-group">
            <div class="general-group-icon">
              <i class="fa-solid fa-medal fa-lg" style="color: #ffffff"></i>
            </div>
            <div class="general-group-info">
              <div class="group-info-title">Required level</div>
              <div class="group-info-value">{{ post.attributes.level }}</div>
            </div>
          </div>
          <div class="general-group">
            <div class="general-group-icon">
              <i class="fa-solid fa-users fa-lg" style="color: #ffffff"></i>
            </div>
            <div class="general-group-info">
              <div class="group-info-title">Number of recruits</div>
              <div class="group-info-value">
                {{ post.attributes.recruitNumber }} people
              </div>
            </div>
          </div>
          <div class="general-group">
            <div class="general-group-icon">
              <i class="fa-solid fa-briefcase fa-lg" style="color: #ffffff"></i>
            </div>
            <div class="general-group-info">
              <div class="group-info-title">Form of work</div>
              <div class="group-info-value">{{ post.overview.category }}</div>
            </div>
          </div>
          <div class="general-group">
            <div class="general-group-icon">
              <i
                class="fa-solid fa-person-half-dress fa-lg"
                style="color: #ffffff"
              ></i>
            </div>
            <div class="general-group-info">
              <div class="group-info-title">Gender</div>
              <div class="group-info-value">{{ post.attributes.gender }}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="job-detail_box-right job-detail_category"></div> -->
    </div>
  </div>
</div>
