<mat-toolbar>
    <mat-toolbar-row>
        <button class="menuBtn" mat-button (click)=" isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
        <button mat-button routerLink="/admin" style="font-size: 22px; color: rgb(255, 255, 255);"><mat-icon>home</mat-icon>Admin site</button>

        <span class="nav2" *ngIf="isLoggedOut$ | async as isLoggedOut">
            <!-- <a routerLinkActive="active-link" routerLink="/posts">
                <span>Posts</span>
            </a> -->
            <a class="login" routerLinkActive="active-link" routerLink="/adminlogin">
                <span>Login</span>
            </a>
        </span>
        <div class="nav2" *ngIf="isLoggedIn$ | async as isLoggedIn">
            
            <a (click)="logout()"><span>Logout</span></a>
                
        </div>

        
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container autosize  *ngIf="isLoggedIn$ | async as isLoggedIn">
    <mat-sidenav #sidenav opened="true" mode="side">
        <mat-list>
            <mat-list-item routerLink="manage-Jobseeker"><mat-icon>settings</mat-icon><p *ngIf="isExpanded">Jobseeker</p></mat-list-item>
            <mat-list-item routerLink="manage-Employer"><mat-icon>library_books</mat-icon><p *ngIf="isExpanded">Employer</p></mat-list-item>
            <!-- <mat-list-item routerLink="recruitment-post/posts"><mat-icon>account_box</mat-icon><p *ngIf="isExpanded">Recruitment post</p></mat-list-item> -->
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content style="background-color: rgb(255, 255, 255);">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>