mat-toolbar {
  height: 40px;
  width: auto;
  margin: 0;
  padding: 5px;
  p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.form-wrapper {
  height: auto;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  position: initial;
  .form {
    display:grid;
    .form-group{
        width: auto;
        margin-bottom: 10px;

        select{
          border: 1px rgb(216, 216, 216) solid;
          border-radius: 5px;
          width: 100%;
          height: 38px;
      }
    }
    .btn{
      width: 20%;
    }
  }
}
