<mat-toolbar>
  <p>Job posted</p>
</mat-toolbar>
<div class="body">
  <div class="info">
    <span class="title">Title: {{post.title}}</span>
    <span class="sub-info">Number of recruitment: {{post.attributes.recruitNumber}}</span>
    <span class="sub-info">Number of applied CVs: {{appliedList.length}}</span>
    <span class="sub-info">Posting date: {{post.attributes.published}}</span>
    <span class="sub-info">Experience: {{post.experience}}</span>
    <span class="sub-info">Salary: {{post.salary}}</span>
    <span class="sub-info">Address: {{post.address}}</span>
  </div>
  <div class="cv-table">
    <div class="table-title">
        <span class="title">CVs have been received</span>
    </div>
    <table>
      <thead>
        <tr>
          <th style="width: 20%">Avatar</th>
          <th style="width: 15%">Name</th>
          <th style="width: 15%">Email</th>
          <th style="width: 10%">Apply date</th>
          <th style="width: 10%">Set status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of appliedList">
          <td><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Avatar"></td>
          <td>{{i.userAppliedCv.name}}</td>
          <td>{{i.userAppliedCv.email}}</td>
          <td>{{i.dateApply}}</td>
          <td>
            <select name="" id="" #status (change)="setStatus(status.value)">
              <option value="">{{i.status}}</option>
              <option value="Send invitation">Send invitation</option>
              <option value="Received">Received</option>
              <option value="Accepted">Accepted</option>
              <option value="Refused">Refused</option>
              <option value="Appointment interview">Appointment interview</option>
            </select>
          </td>
          <td>
            <button [routerLink]="['/dashboard/cv-management/candidate-cv']" [queryParams]="{id: i.id}">
              View
            </button>
            <button [disabled]="isDisabled" (click)="saveStatus(i.id)">Save</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
