<div class="test">
    <p>home works!</p>

    <!-- ngModel (vd12)-->
    <!-- <input type="text" [(ngModel)]="name">
    <h2>Toi ten {{name}}</h2>
    <button (click)="resetName()" >Reset ten</button> -->


    <!-- ng-template (vd13)-->
    <!-- <input type="text" [(ngModel)]="age">
    <h2>Toi ten {{age}}</h2>
    <div *ngIf="age <= 18; then tre; else gia"></div>
    <ng-template #tre>Ban tre</ng-template>
    <ng-template #gia>Ban gia</ng-template> -->

    <!-- ngFor (vd14)     -->
    <h1>Trai cay</h1>
    <!-- <div *ngFor="let trai of traiCay; let i = index">
        <li>{{ (i+1) }}. {{trai}}</li>
    </div> -->

    <table class="table2">
        <tr>
            <th>stt</th>
          <th>Ten</th>
          <th>gia</th>
          <th>Dai ha gia</th>
        </tr>
        <tr *ngFor="let trai of traiCay2; let i = index">
            <td>{{ (i+1) }}</td>
            <td>{{trai.ten | uppercase}}</td>
            <td style="text-align: right;">
                <span [ngClass]="{'so_am': trai.gia  < 0}">{{trai.gia}}</span>
            </td>
            <td>
                <span>{{ trai.haGia | onSale | uppercase }}</span>
            </td>
        </tr>
      </table>
</div>

