<mat-toolbar color="white">
  <div class="navbar-header">
    <span class="icon">
      <a routerLink="/" style="font-size: 22px; color: rgb(113, 74, 137)">
        <span>Web Tuyen Dung</span>
      </a>
    </span>
    <span class="nav1">
      <div class="dropdown">
        <button class="dropbtn">Jobs</button>
        <div class="dropdown-content">
          <a routerLink="find-job">Find job<span>></span></a>
          <span class="split-line"></span>
          <a routerLink="#">Job has applied for<span>></span></a>
          <a routerLink="#">Saved jobs<span>></span></a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Profile, CV</button>
        <div class="dropdown-content">
          <a routerLink="manage-Cv">CV Manager<span>></span></a>
          <!-- <span class="split-line"></span>
          <a href="#">Link 1 <span>></span></a>
          <a href="#">Link 2 <span>></span></a> -->
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Company</button>
        <div class="dropdown-content">
          <a routerLink="company-list">List of companies<span>></span></a>
          <!-- <span class="split-line"></span>
          <a href="#">Link 1 <span>></span></a> -->
        </div>
      </div>
    </span>
  </div>
  <ul
    class="navbar-nav navbar-right"
    *ngIf="isLoggedOut$ | async as isLoggedOut"
  >
    <span class="nav2">
      <a routerLinkActive="active-link" routerLink="/login" style="color: gray">
        <span>Login</span>
      </a>
      <a
        routerLinkActive="active-link"
        routerLink="/signup"
        style="background-color: rgb(178, 76, 76); color: white"
      >
        <span>Signup</span>
      </a>
      <a
        routerLinkActive="active-link"
        routerLink="/dashboard"
        style="background-color: rgb(33, 33, 33); color: white"
      >
        <span>Post jobs, find resumes</span>
      </a>
    </span>
  </ul>
  <ul class="navbar-nav navbar-right" *ngIf="isLoggedIn$ | async as isLoggedIn">
    <div class="dropdown">
      <button class="dropbtn">{{user.name}}</button>
      <div class="dropdown-content">
        <div class="in4">
          <span class="in4-name">{{user.name}}</span><br />
          <span class="in4-des">ID: {{user.id}}</span><br />
          <span class="in4-des">Email: {{user.email}}</span>
        </div>
        <a routerLink="account-setting">Personal information settings<span>></span></a>
        <a routerLink="password">Change password<span>></span></a>
        <span class="split-line"></span>
        <a href="#">Employers view resumes<span>></span></a>
        <span class="split-line"></span>
        <a (click)="logout()">Logout <span>></span></a>
      </div>
    </div>
  </ul>
</mat-toolbar>
